.events {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
gap: 1rem;
}

.event {
    background-color: lightblue;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
display: flex;
justify-content: space-between;
}