.root {
    color: black;
}

.events {
padding: 2rem;
}

.event {
    background-color: lightblue;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
display: flex;
justify-content: space-between;
}